body {
    background-color: Linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    ;
}

::selection {
    color: rgb(255, 0, 0);
}

.welcome-bottom {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.bg-dark-light {
    background-color: rgb(255, 255, 255);
}

.welcome-text::after {
    text-align: center;
    animation: text-animation 4s;
    content: "Welcome";
}

.rounded-5 {
    border: 0px;
    border-radius: .5em;
}

@keyframes text-animation {
    0% {
        opacity: 0;
        width: 50;
        content: "Hi, There";
    }

    50% {
        opacity: 1;
        width: 100;
        content: "Hi, There";
    }

    55% {
        opacity: 0;
        content: "Hi, There";
    }

    60% {
        opacity: 0;
        width: 50;
        content: "Welcome";
    }

    100% {
        opacity: 1;
        content: "Welcome";
    }
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.link:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' -25,
        'opsz' 28
}

span.material-symbols-outlined.selected {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' -25,
        'opsz' 48
}
.selected{
    text-decoration: underline;
}

.link{
    text-decoration: none;
}