
.bg{
    position: absolute;
}

li{
    margin-top: 5px;
}

.rounded-5{
    border-radius: 1rem;
}

.rounded-4{
    border-radius: .75rem;
}
.card-link{
    text-decoration: none;
    color: black;
}